.roomcreation{
    padding: 2%;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
}
.form-usercreation{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
.submitt{
    margin-left: 40%;
}